.App {
  display: flex;
  background-color: #F1F1F1;
  height: 100vh;
  font-family: 'Roboto';
  font-weight: 400;
}

header {
  margin: 15px 0 15px 0;
}

.base {
  width: 400px;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  height: 90%;
}

img {
  width: 50px;
  height: auto;
}

.request_todo {
  font-size: 12px;
}

.todo_input {
  width: 95%;
  height: 25px;
  background-color: #F1F1F1;
  border: none;
  outline: none;
  font-size: large;
  font-weight: bolder;
}

.add_btn {
  width: 100%;
  padding: 10px 0 10px 0;
  border: none;
  background-color: #FFFFFF;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 14px 15px -16px rgba(0, 0, 0, 0.75);
}

.box_btn {
  margin: auto 0 0 0;
}

.btn_active {
  background-color: black;
  color: white;
}

.box_todo_list {
  background-color: white;
  border-radius: 16px;
  padding: 5px 10px 5px 20px;
  margin-top: 15px;
}

.header_todo_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_todo_list {
  display: flex;
}

.add_new_list {
  background-color: white;
  border: none;
  cursor: pointer;
}

.status_select {
  border: none;
  padding: 5px 5px;
}

.box_item_todo {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.box_item_todo:hover>small {
  visibility: visible;
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;
  color: gray;
}

.box_item_todo small:hover {
  text-decoration: underline;
}

.box_item_todo label {
  margin-left: 10px;
}

.box_item_todo small {
  visibility: hidden;
  margin-left: auto;
}

.box_checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid grey;
}

.msg_completed {
  color: gray;
}

.material-icons.white {
  color: white
}

.material-icons.bg-orange {
  background-color: #FB8C00;
  border-radius: 50%;
  font-size: 20px
}

.none_radius {
  border: none;
}

.select_active {
  color: #FB8C00;
}

.modal_closed {
  display: none;
}

.modal_opened {
  display: blcok;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
}

.modal_footer {
  display: flex;
  justify-content: center;
}

.btn_cancel {
  width: 40%;
  margin: 0 15px 0 15px;
  padding: 10px 0 10px 0;
  border: 1px solid black;
  background-color: #FFFFFF;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 14px 15px -16px rgba(0, 0, 0, 0.75);
}

.btn_confirm {
  width: 40%;
  padding: 10px 0 10px 0;
  margin: 0 15px 0 15px;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 14px 15px -16px rgba(0, 0, 0, 0.75);
}